@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe9e9;
}
span{
    color: #fea9a9;
}
header {
    background-color:#febebe;
    color: #fd7d7d;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#convite {
    color: #ffe9e9;
    background-color: #663b3b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

